
*{
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
  }
  .flex-center-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
  body{
    height: 100%;
    background: #f1f1f1;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
  }
  .img {
    max-width: 100%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a:focus {
    text-decoration: none;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
    text-decoration: none;
}
a,
button {
  color: #1F1F1F;
  outline: medium none;
}
h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Poppins", sans-serif;
  color: #001D38;
} 
.slider{
  padding-top: 5vh;
  background: url('../img/banner2.png')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #001D38;
  height: 80vh;
  width: 100%;
  overflow-x: hidden;
}
.popular_location{
  padding-top: 30px;
}
.card-loc{
  margin: 20px 30px;
  height: 200px;
  width: 100%;
  border-radius: 30px;
box-shadow: 5px 5px 30px 1px rgba(0,0,0,0.10), -5px -5px 30px 1px rgba(0,0,0,0.10);
  padding: 20px;
  transition: 0.4s;
}

.card-loc:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}
.card-title{
  font-weight: bold;
  color: #001D38;
}
.card-visitor{
  color: grey;

}
.card-desc{
  padding-top: 20px;
}
div select, div input{
  border-radius: 5px;
  font-size: 14px;
}
label{
  color: #f1f1f1;
  font-weight: 500;
  margin: 5px;
  font-size: 16px;
}
#btn-find{
  padding: 5px 30px;
  background-color: gold;
  color: white;
  border-color: gold;
  
  font-size: 16px;
}

#div-accor{
  color:black;
}
input#id_limit, input#id_radius{
  width: 10%;


}
#map {
  height: 190px;
  width: 40%;
  border: 1px solid #000;
}
form.example input[type=text] {

  float: left;
  border-radius: 5px 0px 0px 5px;
  font-size: 14px;
  border: 1px solid grey;
  width: 40%;
  padding: 5px 30px;
  border-color: gold;
}
#button-search {
  float: left;
  width: 5%; 
  border-radius: 0px 5px 5px 0px;
  font-size: 14px;
  border-left: none;
  cursor: pointer;
  background-color: gold;
  color: white;
  border-color: gold;
  padding: 5px 30px;
  
  
}

form.example #button-search:hover {
  background: orange;
}
